SHOPIFY_STORE=1tru-ambiente-de-pruebas.myshopify.com
SHOPIFY_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2025-01
SHOPIFY_LOCATION_ID=

STOCK_SOURCE=odoo
ODOO_BASE_URL=https://tu-dominio.com
ODOO_STOCK_PATH=/api/products
ODOO_API_TOKEN=
ODOO_TIENDA=
ODOO_POS_NAME=
ODOO_POS_ID=
ODOO_XMLRPC_DB=
ODOO_XMLRPC_USERNAME=
ODOO_XMLRPC_API_KEY=
ODOO_WAREHOUSE_NAME=
ODOO_WAREHOUSE_ID=
ODOO_LIMIT=10000
ODOO_TIMEOUT_MS=60000

# Opcional si quieres mantener soporte postgres
POSTGRES_CONNECTION_STRING=
POSTGRES_STOCK_QUERY=
POSTGRES_BRANCH_ID=
POSTGRES_SSL=true
POSTGRES_SSL_REJECT_UNAUTHORIZED=false
STOCK_DEFAULT_WHEN_MISSING=0

SYNC_FREQUENCY_MINUTES=5
MAX_PRODUCTS_PER_RUN=0
PRICE_MARKUP_PERCENT=14
MIN_PRICE=0

FALABELLA_BASE_URL=https://sellercenter-api.falabella.com/
FALABELLA_USER_ID=
FALABELLA_API_KEY=
FALABELLA_VERSION=1.0
FALABELLA_FORMAT=XML
FALABELLA_OPERATOR_CODE=faco
FALABELLA_DEFAULT_CATEGORY_ID=
FALABELLA_DEFAULT_BRAND=Generico
FALABELLA_DEFAULT_STATUS=active
FALABELLA_DEFAULT_CONDITION_TYPE=Nuevo
FALABELLA_DEFAULT_PACKAGE_HEIGHT=10
FALABELLA_DEFAULT_PACKAGE_WIDTH=10
FALABELLA_DEFAULT_PACKAGE_LENGTH=10
FALABELLA_DEFAULT_PACKAGE_WEIGHT=1
FALABELLA_DEFAULT_TAX_PERCENTAGE=19
FALABELLA_DEFAULT_MATERIAL=No aplica
FALABELLA_DEFAULT_VARIATION=Default
FALABELLA_DEFAULT_TIPO_FUNDA_PLUMON=No aplica
FALABELLA_DEFAULT_TIPO_MANTA_PIECERA=No aplica
FALABELLA_DEFAULT_IMAGE_URL=
FALABELLA_DEFAULT_MATERIAL_JUEGO_SABANAS=Microfibra
FALABELLA_DEFAULT_TIPO_SABANA=Juego de sábanas
FALABELLA_DEFAULT_NUMERO_HILOS=144
FALABELLA_DEFAULT_COLOR_BASICO=Blanco
FALABELLA_DEFAULT_TAMANO_CAMA=Doble
FALABELLA_SKIP_IMAGE_UPLOAD=false
FALABELLA_FEED_POLL_ATTEMPTS=12
FALABELLA_FEED_POLL_INTERVAL_MS=5000